In [3]:
#Aufgabendefinition: Alter überprüfen am Eingang einer Bar
age = int(input("wie alt bist du? : "))
if age >= 20:
    print("Willkommen in der Bar!")
elif age < 20:
    print("Entschuldigung, du bist noch nicht alt genug, um einzutreten.")
else:
    print("Ungültige Eingabe. Bitte geben Sie Ihr Alter als ganze Zahl ein.")

Entschuldigung, du bist noch nicht alt genug, um einzutreten.

In [21]:
try:
    age = int(input("Wie alt bist du? : "))
    if age >= 20:
        print("Willkommen in der Bar!")
    else:
        print("Entschuldigung, du bist noch nicht alt genug, um einzutreten.")
except ValueError:
    print("Ungültige Eingabe. Bitte geben Sie Ihr Alter als ganze Zahl ein.")

Wie alt bist du? :  abc

Ungültige Eingabe. Bitte geben Sie Ihr Alter als ganze Zahl ein.

In [6]:
###### Telefonbuch erstellen mit einem Dictionary
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
cur = conn.cursor()

# Setup database table
cur.execute("CREATE TABLE IF NOT EXISTS telefonnummern (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL, telefonnummer TEXT NOT NULL);")

my_telefonbuch = {}
while True:
    select = int(input("bitte Nummer auswaehlen:\n"
                        "1.Eintrag hinzufügen:\n"
                        "2.Eintrag suchen:\n"
                        "3.Eintrag aktualisieren:\n"
                        "4.Eintrag löschen:\n"
                        "5.Telefonbuch anzeigen:\n"
                        "6.Beenden:\n"  
                        "Ihre Auswahl: "))
    if select == 1:
        name = input("bitte geben Sie Ihren Namen ein: ")
        telefonnummer = input("bitte geben Sie Ihre Telefonnummer ein: ")
        # cur.execute(f"INSERT INTO telefonnummern (name, telefonnummer) VALUES ('{name}', '{telefonnummer}');") # Anfällig für SQL Injection, bitte niemals so verwenden!
        # Besser mit prepared statements wie hier (das Fragezeichen wird als Datum vom Benutzer interpretiert und niemals fälschlich als Teil der SQL-Abfrage interpretiert)
        cur.execute("INSERT INTO telefonnummern (name, telefonnummer) VALUES (?, ?);", [name, telefonnummer])
        conn.commit()
        # my_telefonbuch = {"name":name, "Telefonnummer":telefonnummer}
        print("Eintrag hinzugefügt!")
        print(name, telefonnummer)
        
    elif select == 2:
        search_name = input("bitte geben Sie eine Name ein: ")
        # cur.execute(f"SELECT name, telefonnummer FROM telefonnummern WHERE name = '{search_name}' COLLATE NOCASE;") # Anfällig für SQL Injection, bitte niemals so verwenden!
        # Besser mit prepared statements wie hier (das Fragezeichen wird als Datum vom Benutzer interpretiert und niemals fälschlich als Teil der SQL-Abfrage interpretiert)
        cur.execute("SELECT name, telefonnummer FROM telefonnummern WHERE name = ? COLLATE NOCASE;", [search_name])
        result = cur.fetchone()
        if result is None:
            print("Den Namen habe ich nicht gespeichert!")
        else:
            print(f"{result[0]}: {result[1]}")
            
    elif select ==3:
        new_name = input("bitte geben Sie Name ein, die Sie aktualisieren moechten:  ")
        new_tel = int(input("bitte geben Sie die Telefonnummer ein, die Sie aktualisieren moechten:  "))
        cur.execute("INSERT INTO telefonnummern (name, telefonnummer) VALUES (?, ?);", [new_name, new_tel])
        conn.commit()
        print("Eintrag aktualisiert!")
        print(new_name, new_tel)
        
    elif select ==4:
        delete_name = input("Weleche Name moechten Sie loeschen?: ")
        cur.execute("SELECT name, telefonnummer FROM telefonnummern WHERE name = ? COLLATE NOCASE;", [delete_name])
        result = cur.fetchone()
        if result is None:
            print("Den Namen habe ich nicht gespeichert!")
        else:
            cur.execute("DELETE FROM telefonnummern WHERE name AND telefonnummer =? COLLATE NOCASE;",[delete_name])
        print(f"{result[0]}: {result[1]} ist geloescht")

    elif select ==5:
         cur.execute("SELECT * FROM telefonnummern")
         result = cur.fetchall()
         print({result})

    #cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
    #tables = cur.fetchall()
    #print("Tables in the database:", tables)
        
    elif select == 6:
        print("Das Programm wird beendet.")
        conn.close()
        break

Eintrag hinzugefügt!

ValueError: invalid literal for int() with base 10: ''

In [2]:
import sqlite3

conn = sqlite3.connect("telefonbuch.db")
cur = conn.cursor()

# Setup database table
cur.execute("CREATE TABLE IF NOT EXISTS telefonnummern (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL, telefonnummer TEXT NOT NULL);")

my_telefonbuch = {}
while True:
    select = int(input("bitte Nummer auswaehlen:\n"
                        "1.Eintrag hinzufügen:\n"
                        "2.Eintrag suchen:\n"
                        "3.Eintrag aktualisieren:\n"
                        "4.Eintrag löschen:\n"
                        "5.Telefonbuch anzeigen:\n"
                        "6.Beenden:\n"  
                        "Ihre Auswahl: "))
    if select == 1:
        name = input("bitte geben Sie Ihren Namen ein: ")
        telefonnummer = input("bitte geben Sie Ihre Telefonnummer ein: ")
        cur.execute("INSERT INTO telefonnummern (name, telefonnummer) VALUES (?, ?);", [name, telefonnummer])
        conn.commit()
        # my_telefonbuch = {"name":name, "Telefonnummer":telefonnummer}
        print("Eintrag hinzugefügt!")
        print(name, telefonnummer)
        
    elif select == 2:
        search_name = input("bitte geben Sie eine Name ein: ")
        cur.execute("SELECT name, telefonnummer FROM telefonnummern WHERE name = ? COLLATE NOCASE;", [search_name])
        result = cur.fetchone()
        if result is None:
            print("Den Namen habe ich nicht gespeichert!")
        else:
            print(f"{result[0]}: {result[1]}")
            
    elif select ==3:
        new_name = input("bitte geben Sie Name ein, die Sie aktualisieren moechten:  ")
        new_tel = int(input("bitte geben Sie die Telefonnummer ein, die Sie aktualisieren moechten:  "))
        cur.execute("INSERT INTO telefonnummern (name, telefonnummer) VALUES (?, ?);", [new_name, new_tel])
        conn.commit()
        print("Eintrag aktualisiert!")
        print(new_name, new_tel)
        
    elif select ==4:
        delete_name = input("Weleche Name moechten Sie loeschen?: ")
        cur.execute("SELECT name, telefonnummer FROM telefonnummern WHERE name = ? COLLATE NOCASE;", [delete_name])
        result = cur.fetchone()
        if result is None:
            print("Den Namen habe ich nicht gespeichert!")
        else:
            cur.execute("DELETE FROM telefonnummern WHERE name =? COLLATE NOCASE;",[delete_name])
            conn.commit()
        print(f"{result[0]}: {result[1]} ist geloescht")

    elif select ==5:
         cur.execute("SELECT * FROM telefonnummern")
         result = cur.fetchall()
         print(result)
        
    elif select == 6:
        print("Das Programm wird beendet.")
        conn.close()
        break

bitte Nummer auswaehlen:
1.Eintrag hinzufügen:
2.Eintrag suchen:
3.Eintrag aktualisieren:
4.Eintrag löschen:
5.Telefonbuch anzeigen:
6.Beenden:
Ihre Auswahl:  5

[(2, 'peter', '123456'), (4, 'kaho ', '12345'), (7, 'brot', '4')]

bitte Nummer auswaehlen:
1.Eintrag hinzufügen:
2.Eintrag suchen:
3.Eintrag aktualisieren:
4.Eintrag löschen:
5.Telefonbuch anzeigen:
6.Beenden:
Ihre Auswahl:  6

Das Programm wird beendet.

In [23]:
##### Aufgabendefinition: Einkaufsliste mit einem Array erstellen
import sqlite3
import re
conn = sqlite3.connect("einkaufslist.db")
cur = conn.cursor()

# Setup database table
cur.execute("CREATE TABLE IF NOT EXISTS artikelliste(id INTEGER PRIMARY KEY AUTOINCREMENT, artikel TEXT NOT NULL);")
def artikel_in_liste(artikel):
    cur.execute("SELECT 1 FROM artikelliste WHERE artikel = ?;", [artikel])
    exists = cur.fetchone()
    return exists
while True:
    option = int(input("bitte Nummer auswaehlen: \n"
                      "1.Artikel hinzufügen: \n"
                      "2.Artikel überprüfen: \n"
                      "3.Artikel entfernen: \n"
                      "4.Einkaufsliste anzeigen: \n"
                      "5.Beenden:\n"
                      "Ihre Auswahl:  "))
    if option == 1:
        artikel_eingabe = input("Geben Sie die Artikel ein, die Sie hinzufügen möchten: ")
        artikel_liste = re.split(r'\W+', artikel_eingabe)
        for artikel in artikel_liste:
            if artikel_in_liste(artikel):
                print("Artikel war bereits auf der Liste:", artikel)
            else:
                cur.execute("INSERT INTO artikelliste (artikel) VALUES(?);",[artikel])
                conn.commit()
                print("Artikel hinzugefügt:", artikel)
    elif option == 2:
        artikel_suchen =input("Geben Sie den Artikel ein, den Sie überprüfen möchten: ")
        if artikel_in_liste(artikel_suchen):
            print(f"{artikel_suchen} steht bereits auf der Einkaufsliste.")
        else:
            print(f"{artikel_suchen} ist nicht auf der Einkaufsliste.")
    elif option == 3:
        entfernungsartikel = input("Geben Sie den Artikel ein, den Sie von der Einkaufsliste entfernen möchten: ")
        if artikel_in_liste(entfernungsartikel):
            cur.execute("DELETE FROM artikelliste WHERE artikel =?;",[entfernungsartikel])
            conn.commit()
            print(f"{entfernungsartikel} wurde von der Einkaufsliste entfernt.")
        else:
            print(f"{entfernungsartikel} ist nicht auf der Einkaufsliste.")
    elif option == 4:
        cur.execute("SELECT artikel FROM artikelliste;")
        alle_artikeln = cur.fetchall()
        print("Einkaufsliste:")
        for artikel in alle_artikeln:
            print("-", artikel[0])
    elif option == 5:
        print("Das Programm wird beendet.")
        conn.close()
        break
    else:
        print("Ungültige Option!")

bitte Nummer auswaehlen:
1.Artikel hinzufügen:
2.Artikel überprüfen:
3.Artikel entfernen:
4.Einkaufsliste anzeigen:
5.Beenden:
Ihre Auswahl:   7

Ungültige Option!

bitte Nummer auswaehlen:
1.Artikel hinzufügen:
2.Artikel überprüfen:
3.Artikel entfernen:
4.Einkaufsliste anzeigen:
5.Beenden:
Ihre Auswahl:   aa

ValueError: invalid literal for int() with base 10: 'aa'

In [1]:
#hier ist neue einkaufsliste